<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">

  <form class="ui large form segment">
    <h3 class="ui header">Add a link</h3>

    <div class="field">
      <label for="title">Title:</label>
      <input name="title" id="title" #newtitle>
    </div>
    <div class="field">
      <label for="link">Link:</label>
      <input name="link" id="link" #newlink>
    </div>
  </form>

  <button (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">Add an article</button>

<router-outlet></router-outlet>
